div(class='myclass', id='mydiv1')
	h1 My Page
	ul(class='genre-list')
		li Contact Us
		li Gallery
p.
	This page has been developed by me!!
	this is also typed by me!!
	Acadgild Node JS training session

- var x =5;
- var userName = 'myUser';
div
	ul
		-for(var i=0; i<=x;i++){
			li= i + " Hello"
		-}

p Hi There, #{userName}. How are you doing today?