<!DOCTYPE html>
<html ng-app="myApp">
<head>
	
	<script src="js/angular.js"></script>
	<title>Assignment Solution </title>

	<script type="text/javascript">
	
		var myApp = angular.module('myApp', []);

		myApp.controller('myController', function ($scope) {
			$scope.sessions = 	[{name : 'HTML', duration: 20},
								{name : 'CSS', duration: 50},
								{name : 'AngularJs', duration: 60},
								{name : 'JQuery', duration: 80}]
		});

		
	</script>


</head>

<body>

<center>

		<div ng-controller="myController">

				<h2> <b> Values without sort by Name</b> </h2>
			  <table border="2px">
			    <tr>
			      <th>  Name</th>
			      <th>Duration</th>
			    </tr>
			    <tr ng-repeat="session in sessions">
			      <td>{{session.name}}</td>
			      <td>{{session.duration}}</td>
			    </tr>
			  </table>
			  
			  <br>

				<h2> <b> Values with sort  by Name</b> </h2>

			  <table border="2px">
			    <tr>
			      <th>  Name</th>
			      <th>Duration</th>
			    </tr>
			    <tr ng-repeat="session in sessions | orderBy:'name'">
			      <td>{{session.name}}</td>
			      <td>{{session.duration}}</td>
			    </tr>
			  </table>
						
		</div>
				
</center>


</body>
</html>