<div class="panel-body">
	<div class="form-group">
		<label>Name:</label>
		<input type="text" name="tb1" ng-model="currentProduct.name" class="form-control">
	</div>
	<div class="form-group">
		<label>Category:</label>
		<input type="text" name="tb2" ng-model="currentProduct.category" class="form-control">
	</div>

	<div class="form-group">
		<label>Description:</label>
		<input type="text" name="tb3" ng-model="currentProduct.description" class="form-control">
	</div>
	<div class="form-group">
		<label>Price:</label>
		<input type="text" name="tb4" ng-model="currentProduct.price" class="form-control">
	</div>

	<button class="btn btn-primary" ng-click="saveEdit(currentProduct)">Save</button>

	<button class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
</div>