<!DOCTYPE html>
<html>
<head>
	<title>Module Configurations</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script type="text/javascript">
        	var module = angular.module('myApp', ['customServices']);
            module.config(function(logProviderServiceProvider){
                //logProviderServiceProvider.debugEnabled(false).messageCounterEnabled(true);
            });
            module.controller('defaultCtrl1', function($scope, logDebugService){
                $scope.data =  {
                    cities: ['Hyderabad', 'Delhi', 'Mumbai'],
                    totalClicks: 0
                };

                $scope.$watch('data.totalClicks', function(newVal){
                    //console.log("Total click count:" + newVal );
                    logDebugService.log("Total click count:" + newVal);
                }); 
            });
			
			 module.controller('defaultCtrl2', function($scope, logDebugService){
                $scope.data =  {
                    cities: ['Hyderabad', 'Delhi', 'Mumbai'],
                    totalClicks: 0
                };

                $scope.$watch('data.totalClicks', function(newVal){
                    //console.log("Total click count:" + newVal );
                    logDebugService.log("Total click count:" + newVal);
                }); 
            });
            module.directive('triButton', function(){
                return {
                    scope: {counter: "=counter"},
                    link: function(scope, element, attrs){
                        element.on("click", function(event){
                            console.log("Button Clicked: " + event.target.innerText);
                            scope.$apply(function(){
                                scope.counter++;
                            });
                        });
                    }
                }
            });
           
			
           var servicesMod = angular.module('customServices', []);
           servicesMod.factory('logService', function(){
                var messageCount = 0;
                return{
                    log: function(msg){
                        console.log("(LOG + " + messageCount++ + ")" + msg);
                    }
                }
           });
           servicesMod.value('foo', 'some value for this');
           var baseLogger = function(){
            this.messageCount =0;
            this.log = function(msg){
                console.log(this.msgType + ":" + (this.messageCount++) + " " + msg);
            }
           };

            var debugLogger = function() {};
            debugLogger.prototype = new baseLogger();
            debugLogger.prototype.msgType = "DEBUG";

            var errorLogger = function(){};
            errorLogger.prototype = new baseLogger();
            errorLogger.prototype.msgType = "ERROR";

            servicesMod.service("logDebugService", debugLogger);
            servicesMod.service("logErrorService", errorLogger);

            servicesMod.provider("logProviderService", function(){
                var counter = true;
                var debug = true;
                return{
                    messageCounterEnabled: function(setting){
                        if(angular.isDefined(setting)){
                            counter = setting;
                            return this;
                        }else{
                            return counter;
                        }
                    },

                    debugEnabled: function(setting){
                        if(angular.isDefined(setting)){
                            debug = setting;
                            return this;
                        }else{
                            return debug;
                        }
                    },

                    $get: function(){
                        return {
                            messageCount : 0,
                            log: function(msg){
                                if(debug){
                                    console.log("(LOG" + (counter ? " + " + this.messageCount++ + " )" : ")") + msg);
                                }
                            }
                        }
                    }
                }
            });
			
        </script>

</head>
<body ng-app='myApp' >
    <div class="well" ng-controller='defaultCtrl1'>
        <div class="btn-group" tri-button counter="data.totalClicks" source="data.cities">
            <button ng-repeat="city in data.cities" class="btn btn-default">{{city}}</button>
        </div>
        <h5>Total Clicks: {{data.totalClicks}}</h5>
    </div>
	<hr/>
	<div class="well" ng-controller='defaultCtrl2'>
        <div class="btn-group" tri-button counter="data.totalClicks" source="data.cities">
            <button ng-repeat="city in data.cities" class="btn btn-default">{{city}}</button>
        </div>
        <h5>Total Clicks: {{data.totalClicks}}</h5>
    </div>
</body>
</html>