		<html ng-app='myModule'>
		<head>
			<title>Directives Example</title>
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
			<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
			<script type="text/javascript">
				var mod = angular.module('myModule',[]);
				mod.controller('myCtrl',function($scope){
					$scope.todos = [
		                    { action: "Get groceries", complete: false },
		                    { action: "Call plumber", complete: false },
		                    { action: "Buy running shoes", complete: true },
		                    { action: "Buy flowers", complete: false },
		                    { action: "Call family", complete: false }];
				});
			</script>
		</head>
		<body ng-controller='myCtrl'>
			<table class="table">
			<thead> <tr>
						<th>#</th>
			            <th>Action</th>
			            <th>Done</th>
			            <th>Odd?</th>
			            <th>Even?</th>
			            <th>Middle?</th>
			            <th>First?</th>
			            <th>Last?</th>
			        </tr>
			    </thead>
			    <tr ng-repeat="item in todos">
			        <td>{{$index + 1}}</td>
			        <td ng-repeat="prop in item">
			            {{prop}}
					</td> 
					<td>{{ $odd }}</td>
					<td>{{ $even }}</td>
					<td>{{ $middle }}</td>
					<td>{{ $first }}</td>
					<td>{{ $last }}</td>
				</tr>
			</table> 
			<hr>
			<table class="table table-striped">
				<tbody>
			        <tr ng-repeat-start="item in todos">
			            <td>This is item {{$index}}</td>
					</tr> 
					<tr>
			            <td>The action is: {{item.action}}</td>
			        </tr>
			        <tr>
			            <td>{{$index}}</td>
			        </tr>
			        <tr>
			            <td>{{$odd}}</td>
			        </tr>
			        <tr ng-repeat-end>
			            <td>Item {{$index}} is {{$item.complete? '' : "not "}} complete</td>
					</tr>
			    </tbody>
			</table>
		</body>
		</html>