<!DOCTYPE html>
<html>
<head>
	<title>Cache Example</title>
	        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script type="text/javascript">
        	var mod = angular.module('myApp', []);
        	mod.controller('myCtrl', function($scope, $cacheFactory, $log, $timeout){
        		setTimeout(function(){
                                $scope.name = "John Doe";
                        }, 3000);

                        $scope.cancel = function(){
                                $timeout.cancel(promise);
                        }
        	});
        </script>
</head>
<body ng-app='myApp'>
<div ng-controller='myCtrl' class="container">
<button class="btn" ng-click="cancel()">Cancel</button>
Name : {{name}}
Address : <input type="text" ng-model="address"></input>
{{address}}
</div>

</body>
</html>