<!doctype html>
<html lang="en" >
  <head>
    <script src="angular.js" type="text/javascript">
    </script>
<script>
  angular.module('mainModule', [])
    .controller('LimitController', ['$scope', function($scope) {
      $scope.numbers = [1,2,3,4,5,6,7,8,9,12,14];
      $scope.letters = "lets see how many characters are displayed with limit";
      $scope.longNumber = 1232345432342;
      $scope.numLimit = 4;
      $scope.letterLimit = 5;
      $scope.longNumberLimit = 5;
    }]);
</script>
  </head>
  <body ng-app = 'mainModule'>
 <div ng-controller="LimitController">
  Limit {{numbers}} to: <input type="number" step="2" ng-model="numLimit">
  <p>Output numbers: {{ numbers | limitTo:numLimit }}</p>
  Limit {{letters}} to: <input type="number" step="1" ng-model="letterLimit">
  <p>Output letters: {{ letters | limitTo:letterLimit }}</p>
  Limit {{longNumber}} to: <input type="number" step="1" ng-model="longNumberLimit">
  <p>Output long number: {{ longNumber | limitTo:longNumberLimit }}</p>
</div>


</body>
</html>

