<!DOCTYPE html>
<html>
<head>
	<title>Routing Example</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="angular-route.js"></script>
	<script type="text/javascript">
		var module = angular.module('myApp', ['ngRoute']);
		module.config(function($routeProvider){
			$routeProvider.
				when('/route1/:param', {
					templateUrl : 'templates/template1.html',
					controller: 'RouteController'
				})
				.when('/route2/:param', {
					templateUrl : 'templates/template2.html',
					controller: 'RouteController'
				})
				.otherwise({
					redirectTo : '/',
					templateUrl: 'templates/index.html',
					controller: 'IndexController'
				})
		});
		module.controller('RouteController', function($scope, $routeParams){
			$scope.param = $routeParams.param;
		});

		module.controller('IndexController', function($scope){
			$scope.message = "Welcome to Routing Example";
		})
	</script>
</head>
<body ng-app='myApp'>
<input type="text" name="tb1" ng-model="inp1">
<input type="text" name="tb2" ng-model="inp2">
<a ng-href="#/route1/{{inp1}}">Route 1</a>
<a ng-href="#/route2/{{inp1}}">Route 2</a>

<div ng-view>
	
</div>
</body>
</html>