<!DOCTYPE html>
<html>
<head>
	<title>Binding</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script type="text/javascript">
        	var mod = angular.module("binding", []);
        	mod.controller("myCtrl", function($scope){`
        		$scope.firstName = "Acad"
        		$scope.lastName = "Gild"

        		$scope.middleName = "G"
        	});
        </script>
</head>
<body ng-app="binding">

<div class="container" ng-controller='myCtrl'>
<input ng-model="firstName"></input>
<input ng-model="lastName"></input>
	<input ng-bind="firstName"></input>
	<p>Firstname : {{firstName}}</p>
	Last Name: <p ng-bind="lastName"></p>
	<hr/>
	<input ng-model="middleName"></input>
	<p ng-bind="middleName"></p>
	<input ng-model="middleName"></input>
</div>
</body>
</html>