<h3>Reserve Your Flight</h3>
<div class="controls controls-row">
	<input type="text" name="reserveOrigin" class="input-small" placeholder="Origin" ng-model="reserve.origin">
	<input type="text" name="reserveDestn" class="input-small" placeholder="Destination" ng-model="reserve.destination">
</div>

<a href="" class="btn btn-primary" ng-click="reserveFlight()">Reserve</a>

<table ng-show="reserve.origin" class="table">
	<thead>
		<tr>
			<th>Number</th>
			<th>Origin</th>
			<th>Destination</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="flight in flights | filter:reserve">
			<td>{{flight.number}}</td>			
			<td>
				<a ng-href="#/aiports/{{flight.origin}}">
					{{flight.origin}}
				</a>
			</td>
				<td>
				<a ng-href="#/aiports/{{flight.destination}}">
					{{flight.destination}}
				</a>
			</td>
			<td>{{flight.price | currency}}</td>
		</tr>
	</tbody>
</table>

<h3>Your Reservations</h3>
<table ng-show="reservations.length" class="table">
	<thead>
		<tr>
			<th>Number</th>
			<th>Origin</th>
			<th>Destination</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="flight in reservations">
			<td>{{flight.number}}</td>
			<td>
				<a ng-href="#/aiports/{{flight.origin}}">
					{{flight.origin}}
				</a>
			</td>
				<td>
				<a ng-href="#/aiports/{{flight.destination}}">
					{{flight.destination}}
				</a>
			</td>
		</tr>
	</tbody>
</table>
<div ng-hide="reservations.length" class="alert alert-info">
	You don't have any reservations !!!
</div>