<h3>Reserve your flight here</h3>
<div class="controls controls-row">
	<input type="text" class="input-small" placeholder="Origin" ng-model="reserve.origin"/>
	<input type="text" class="input-small" placeholder="Destination" ng-model="reserve.destination"/>
</div>
<a href="" class="btn btn-primary" ng-click="reserveFlight()">Reserve Flight</a>
<!-- Calling function on scope -->
<table ng-show="reserve.origin" class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Number</th>
			<th>Origin</th>
			<th>Destinations</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="flight in flights | filter:reserve">
			<td>{{flight.number}}</td>
			<td>
				<a ng-href="#/airports/{{flight.origin}}">{{flight.origin}}</a>
			</td>
			<td>
				<a ng-href="#/airports/{{flight.destination}}">{{flight.destination}}</a>
			</td>
			<td>{{flight.price | currency}}</td>
		</tr>
	</tbody>
</table>
<h3>Your Reservations </h3>
<table ng-show="reservations.length" class="table">
	<thead>
		<tr>
			<th>Number</th>
			<th>Origin</th>
			<th>Destinations</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="flight in reservations">
			<td>{{flight.number}}</td>
			<td>
				<a ng-href="#/airports/{{flight.origin}}">{{flight.origin}}</a>
			</td>
			<td>
				<a ng-href="#/airports/{{flight.destination}}">{{flight.destination}}</a>
			</td>
			
		</tr>
	</tbody>
</table>

<!-- ng-hide checks for the visibility of alert box -->
<div class="alert alert-info" ng-hide="vis">
	You don't have any reservations	!!!
</div>
