/*p {
			color : red;
			text-align: center;
		}*/
		p#paragraph1 {
			color : red;
			text-align: center;
		}
		.centertext {
			color : red;
			text-align: center;
		}
	/*	tagName[attribute name] {

		}*/
		/*a[target="_blank"] {
			color: red;
		}*/
		/*a[title ~= "acadgild"]{
			color: red;
		}*/
		[class $= 'temp'] {
			background: red;
		}