<!DOCTYPE html>
<html>
<head>
	<title>Binding</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script type="text/javascript">
                 var mod = angular.module('myMod', ['myMod1']);
                 var mod1 = angular.module('myMod1', ['myMod2']);
                 var mod2 = angular.module('myMod2', []);
                 mod.config(function(){
                        console.log("Configuration");
                 });
                 mod.run(function(){
                        console.log("Run");    
                 });
                 mod1.config(function(){
                        console.log("Configuration 1" );
                 });
                 mod1.run(function(){
                        console.log("Run 1");    
                 });
                 mod1.controller('myCtrl2', function($scope){
                        $scope.getInfo = function(){
                                console.log('My info');
                        }
                 });
                 mod2.config(function(){
                        console.log("Configuration 2");
                 });
                 mod2.run(function(){
                        console.log("Run 2");    
                 });
                 mod.filter('checkedFilter', function($log, $filter){
                        return function(input, option1, option2){
                                $log.info($filter);
                                $log.info("-----------" + input);
                                return $filter('uppercase')(input);
                        }
                 });
                 mod.controller('myCtrl', function($scope, $filter){
                        
                        $scope.myVar = $filter('currency')('123.4577', 'USD$', 0);
                        $scope.amount = 1234.5674;
                        $scope.currentDate = new Date();
                        $scope.numbers = [1,2,3,4,5];
                        $scope.letters = 'abcdefghijkl';
                        $scope.longNumber = 1234531232341;
                        $scope.numLimit = 3;
                        $scope.letterLimit = 3;
                        $scope.friends = [
                                {name: "John Cena", phone:'555-1276-90', age:20, address:'Street1'},
                                {name: "Triple H", phone:'666-3423-60', age:12, address:'John Street'},
                                {name: "Undertaker", phone:'666-3423-60', age:34, address:'Indiana'},
                                {name: "The Great Khale", phone:'7045-902-890', age:10, address:'Street Triple'},
                                {name: "The Great Khale", phone:'7045-902-889', age:12, address:'Street2'}
                        ];

                        function Person(name, age){
                                this.name = name;
                                this.age = age;
                        }
                        $scope.person = new Person('Name', 34);
                        $scope.myComparator = function(actual, expected){
                                console.log("Actual  " + actual);
                                console.log("Expected " + expected);
                                return angular.equals(actual, expected);
                        }
                 });
        </script>
</head>
<body ng-app="myMod">
              
                <div class="container" ng-controller='myCtrl'>
                  <p>{{$parent.getInfo()}}</p>
                </div>  
<div class="container" ng-controller='myCtrl'>
        <p>Currency filter (default) {{amount | currency : '&#8377;' : 3}}</p>
        <hr/>
        <p>NUmber filter: <input ng-model="myNum"></input>
        <p>Default : {{ myNum | number}}
        <p>Fraction size : {{ myNum | number : 5}}
        <p>Negative Number : {{ -myNum | number: 5}}
        <p>Infinity : {{ 1/0 | number : 5}}
        <hr/>
        <p>Default date: {{currentDate | date }}</p>
        <p>Medium date: {{currentDate | date: 'medium' }}</p>
        <p>MMMM date: {{currentDate | date: 'MMMM' }}</p>
        <p>MMM date: {{currentDate | date: 'MMM' }}</p>
        <p>MM date: {{currentDate | date: 'MM' }}</p>
        <p>M date: {{currentDate | date: 'yyyy MMMM dd HH:mm:s:sss a Z': '+430' }}</p>
        <hr/>
        <pre>{{person | json}}</pre>
         <pre>{{person | json : 4}}</pre>
         <hr/>
         <p>Limit with numbers: {{numbers | limitTo : 3 : -4}}</p>
         <p>Limit with letters: {{letters | limitTo : 3 : -4}}</p>
         <hr/>
         <p>{{"Acadgild" | orderBy : '-': true}}
         <table class="table table-bordered">
                <thead>
                        <tr>
                                <td>Name</td>
                                <td>Phone number</td>
                                <td>Age</td>
                                <td>Address</td>
                        </tr>
                </thead>
                <select ng-model='myOrder'>
                        <option value="name">Name</option>
                        <option value="age">Age</option>
                        <option value="phone">Phone</option>
                </select>
                <input type="text" ng-model='search.address' placeholder="Enter your search string"></input>
                <tr ng-repeat="friend in friends | filter: search: myComparator">
                        <td>{{friend.name}}</td>
                        <td>{{friend.phone}}</td> 
                        <td>{{friend.age}}</td>
                        <td>{{friend.address}}</td>
                </tr>
         </table>
         <p>{{true | checkedFilter}}</p>
         <p>{{myInfo}}</p>
</div>
</body>
</html>