<!DOCTYPE html>
<html>
<head>
	<title>Directives Scopes</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
        <script type="text/ng-template" id="scopeTemplate">
			<!--*<div class="panel-body">
				<p> Name: <input ng-model="data.name"/></p>
				<p> City: <input ng-model="city"/></p>
				<p> Country: <input ng-model="country"/></p>
			</div>-->
			<!--<div class = "panel-body">
				<p>Data Value : {{local}} </p>
			</div>-->
			<!--<div class = "panel-body">
				<p>Data Value : <input ng-model='local'/> </p>
			</div>-->
			<div class = "panel-body">
				<p>Name: {{local}} , City : {{cityFn()}}</p>
			</div>
        </script>
        <script type="text/javascript">
        var mod = angular.module('myApp', []);
        mod.directive('scopeDemo', function(){
        	return {
        		template: function(){
        			return angular.element(
        				document.querySelector("#scopeTemplate")).html();
        		},
        		scope : {
        			local : "=nameprop",
        			cityFn: "&city"
        		}
        	}
        });
        mod.controller('myCtrl', function($scope){
        	$scope.data = { name: "Acadgild", defaultCity : "Bangalore"};
        	$scope.city = "Mumbai";
        	$scope.getCity = function(name){
        		return name == "Acadgild" ? $scope.data.defaultCity : "unknown";
        	}
        });
        </script>
</head>
<body ng-app='myApp'>
	<div ng-controller='myCtrl' class="panel panel-default">
		<!-- <div  class="panel-body" scope-demo></div>
		<div class="panel-body" scope-demo></div> -->
		<div class="panel-body">
			Direct Binding: <input ng-model='data.name'/>
		</div>
		<div class="panel-body" scope-demo nameprop="data.name" city="getCity(data.name)">
	</div>

</body>
</html>
